<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}Default Value{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/CSS/style.css">
    <link rel="stylesheet" type="text/css" href="/CSS/bootstrap.css"
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <l1>{{message}}</l1>
                {% endfor %}
            </ul>
        {% endif %}
    {%endwith%}
    {% block content %}{% endblock %}
    <script src="/Scripts/bootstrap.js"></script>
</body>
</html>