{% extends "base.html" %}
{% block title %}Index Page{% endblock %}
{% block content %}
    <h1>Hello, World</h1>
    <p>{{value}}</p>
    <p>{{result}}</p>
    <p>{{list1}}</p>
    <ul>
        {% for item in list1 %}
            {% if item == 30 %}
                <li style = "color: red">{{item}}</li>
            {% else %}
                <li {% if item == 20 %} style = "color: blue" {% endif %} {% if item == 10 %} style = "color: green" {% endif %}>{{item}}</li>
            {% endif %}
        {% endfor %}
    </ul>
    <a href="{{ url_for('redirect_to_filter')}}">How to use filter.</a> <!-- Function name -->
{% endblock %}
